.one{
    text-align: center;
    background-color: #c0c0c0;
}
.two{

    background-color: #0000ff;
    margin-bottom: 0%;
    color: #ffffff;
   
}
.three{
    
    background-color: #5555f9;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;

}
.four{
    
    background-color: #2e2effb6;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;

}
.five{
    
    background-color: #8e8efe;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
}
.six{
    
    background-color: #9898fe;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
}
.seven{
    
    background-color: #bcbcf8;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
}
.eight{
    
    background-color: #8b8bf4ce;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
}
.nine{
    
    background-color: #1414de57;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
}
.ten{
    
    background-color: #0bf50b95;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
    
}
.eleven{
    
    background-color: #fee8ec;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
}
.twelve{
    
    background-color: #fed9de;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
    
}
.thirteen{
    
    background-color: #ffc8c0;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
}
.fourteen{
    
    background-color: #ffb3b3f1;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;
    
}
.fifteen{
    
    background-color: #f2b0b0d2;
    margin-bottom: 0%;
    margin-top: 1px;
    color: #ffffff;

}
.sixteen{
    
    background-color: #ffc0cbeb;
    margin-top: 1px;
    margin-bottom: 0%;
    color: #ffffff;

}
.seventeen{
    
    background-color: #fca4b2e9;
    margin-top: 1px;
    color: #ffffff;
    
    
}